html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

del, ins {
  text-decoration: none; }

body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small; }

select, input, button, textarea {
  font: 99% arial, helvetica, clean, sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%; }

input[type="checkbox"], input[type="radio"] {
  padding: 1px; }

.scale {
  text-align: center; }
  .scale .column {
    display: inline-block;
    vertical-align: top;
    margin: 10px; }
    .scale .column.left {
      width: 400px; }
    .scale .column.right {
      width: 800px; }
    .scale .column .date, .scale .column .refresh {
      display: inline-block;
      text-align: left;
      margin-top: 5px;
      margin-bottom: 10px;
      min-height: 1em; }
    .scale .column .date {
      float: left; }
    .scale .column .refresh {
      float: right; }
      .scale .column .refresh img {
        cursor: pointer;
        width: 25px;
        height: 25px; }
    .scale .column .scalings {
      clear: both; }
      .scale .column .scalings .scaling {
        width: 100%; }
        .scale .column .scalings .scaling .handle {
          width: 100%;
          height: 5px;
          background: #cccccc;
          cursor: move; }
        .scale .column .scalings .scaling .container {
          border: 1px solid #cccccc;
          border-top: none; }
      .scale .column .scalings .chart {
        margin-bottom: 10px; }
        .scale .column .scalings .chart .container {
          padding: 10px; }
        .scale .column .scalings .chart .content {
          width: 100%;
          height: 210px; }
          .scale .column .scalings .chart .content .name {
            text-align: center;
            padding-bottom: 5px; }
          .scale .column .scalings .chart .content .plot {
            height: 180px; }
      .scale .column .scalings .statistic {
        margin: 5px 0; }
        .scale .column .scalings .statistic .container {
          padding: 5px 25px; }
        .scale .column .scalings .statistic .content {
          width: 100%;
          min-height: 1.2em;
          text-align: left; }
