!!! strict
%html
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=UTF-8" }
    %meta{ 'http-equiv' => "content-style-type", :content => "text/css" }
    = stylesheet_link_tag "styles"
    = yield :head
  %body= yield
